.p {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family:century gothic
    }


#card {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    font-family:century gothic;
    background-image:url(/static/img/green_sky.jpg);
    color:white
}
