{% extends "base.html" %}

{% block content %}
<title>Вход</title>
<br>
<br>

<!--<button type="button" onclick="window.history.go(-1);" class="btn btn-outline-light"-->
<!--                style="font-family:century gothic;font-size:18px;position:absolute;left:10%"><=Назад</button>-->

<center>
    <h2 style="font-family:century gothic;font-size:42px;color:white">Вход</h2>
</center>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p class="ph">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control form-control-sm", type="email", style="background-image:
        url(/static/img/sky.jpg);color: white;height:37px") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p class="ph">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control form-control-sm", type="password", style="background-image:
        url(/static/img/sky.jpg);color: white;height:37px") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p class="ph">{{ form.remember_me() }} {{ form.remember_me.label }}</p>

    <p class="ph">{{ form.submit(type="submit", class="btn btn-outline-success") }} <br><br> Еще нет
        аккаунта? <a href="/auth/register"> Регистрация</a></p>

    <p class="ph">{{message}}</p>
</form>
{% endblock %}