* {box-sizing: border-box;}
#base_form {
  position: relative;
  width: 300px;
  left:400px;
  height: 42px;
}
#input_search {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
  font-family:helterskelter;
  font-size: 20px;
}
#input_search:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
#submit_btn {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#submit_btn:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.ph {
    width:700px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family:century gothic
    }

