{% extends "base.html" %}

{% block content %}
<title>О нас</title>


<ul class="nav nav-tabs" style="font-family:century gothic;font-size:24px;">
    <li class="nav-item">
        <a class="nav-link" href="/about_us" style="color: white;">О нас</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Отзывы</a>
    </li>
</ul>

<br>
<br>
<br>

<div style="color: white; width: 800px;font-family:century gothic;font-size:23px;position: absolute;left:23%">
    Space Cruises — необычная туристическая компания. Уже 5 лет мы занимаемся организацией космических туров не только
    по
    Солнечной системе, но и почти по всему Млечному пути. Мы познакомим вас с далекими мирами и откроем дверь в
    удивительный мир нашей Вселенной!

</div>

<br>
<br>
<div style="position: absolute;left:21%;top:150%">
    <img width="800" height="470" src="/static/img/info_pics/mars_info.jpg">
    <p style="color:grey;font-family:century gothic;font-size:19px">Марс, 2021</p>
</div>

<div style="color: white; width: 800px;font-family:century gothic;font-size:23px;position: absolute;left:23%;top:332%">
    Помимо продажи туров, мы активно стараемся внедрить космос в повседневную жизнь и сделать космические путешествия
    обыденностью.

</div>

<div style="position: absolute;left:21%;top:400%">
    <img width="800" height="470" src="/static/img/info_pics/the_spaceship.jpg">
</div>

<div style="color: white; width: 800px;font-family:century gothic;font-size:23px;position: absolute;left:23%;top:580%">
    Наш космодром богат современными кораблями и лайнерами. Их внешний вид и интерьер старательно
    разрабатывался первоклассными дизайнерами, а собирались и тестировались они лучшими механиками и инженерами страны.

</div>

<div style="position: absolute;left:21%;top:645%">
    <img width="800" height="470" src="/static/img/info_pics/interior.jpg">
</div>

{% endblock %}