{% extends "base.html" %}

{% block content %}
<br><br><br><br>
<p align="center" class="divv" style="font-family:century gothic;font-size:23px;width:880px;height:90px;
margin-left:auto;margin-right:auto;color:white">Вы отменили бронь. В ближайшее время с вами свяжется
наш менеджер. Если была внесена предоплата, он сообщит как можно вернуть средства.</p>

<button style="font-family:century gothic;font-size:23px;position: absolute;left:40%;width:250px;height:60px"
        onclick="document.location='/booked_tours'"
        type="button" class="btn btn-outline-light">Назад
</button>

{% endblock %}