{% extends "admin/base.html" %}

{% block content %}

<br><br><br><br>
<p align="center" class="divv" style="font-family:century gothic;font-size:23px;width:880px;height:90px;
margin-left:auto;margin-right:auto;color:white">Подтвердите удаление, это действие нельзя отменить.</p>

<button style="font-family:century gothic;font-size:23px;position: absolute;left:40%;top:140%;width:250px;height:60px"
        onclick="window.history.go(-1)"
        type="button" class="btn btn-outline-light">Назад
</button>

{% endblock %}